body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
}

.container {
    width: 60%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}
